<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>11liniya</title>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <main role="main">
      <%= yield %>
    </main>
    <%= javascript_include_tag "site" %>
  </body>
</html>
