.intro {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  position:relative;
  border: 1px solid red;
  padding: 0 14%;
  min-height: 100vh;
}
