.intro
  display: flex
  flex-direction: column
  align-items: stretch

.section
  display: flex
  flex-direction: column
  align-items: left
  justify-content: center
  position: relative
  padding: 4.21rem 14%
  min-height: 100vh

  &__title
    @extend %font-anonymous
    @extend %font-size-title-2

  &__subtitle
    @extend %font-apercupro
    @extend %font-size-subtitle

  &__text
    @extend %font-apercupro
    @extend %font-size-text

  &--main
    background-image: url('/images/intro.jpg')
    background-size: cover
    background-repeat: no-repeat

    .section__title
      @extend %font-apercupro
      @extend %font-size-title-1
      color: #ffffff

  &--studio
    background-color: #d2c2c0

    .section__title,
    .section__subtitle
      color: #e8d9d9

    .section__subtitle
      width: 60vw

    .section__text
      color: #998c8c

  &--directions
    background-color: #e9d2c5

    .section__title,
    .section__subtitle
      color: #fbe5da

  &--methods
    background-color: #f8fbff

    .section__title,
    .section__subtitle
      color: #d3dce2

    .section__subtitle:nth-last-of-type(1)
      margin: 3.26rem 0 7.26rem
      color: #a1aeb2

    .section__text-grid:first-of-type
      margin: 1.21rem 0 4.21rem

    .section__text-grid:nth-last-of-type(2)
      margin: 3.16rem 0 4.21rem

    .section__text
      color: #a1aeb2

    .section__text--left
      @extend %font-size-title-3
      color: #d3dce2

  &--teacher
    background-color: #b1bec9
    padding-bottom: 0

    .section__title,
    .section__subtitle
      color: #d3dce2

    .section__subtitle:nth-last-of-type(1)
      margin: 1.84rem 0 2.84rem

    .section__title
      margin-bottom: 1.42rem

    .section__subtitle
      @extend %font-size-title-4
      width: 60vw

    .section__text
      color: #606e82

  &--contacts
    background-color: #949aa8

    .section__title,
    .section__subtitle
      color: #c3c7cf

    .section__subtitle:nth-last-of-type(2)
      margin-bottom: 0
