html,
body
  height: 100%

html
  box-sizing: border-box

body
  margin: 0

body::-webkit-scrollbar
  width: 0.4rem

body::-webkit-scrollbar-track
  background-color: #ffffff

body::-webkit-scrollbar-thumb
  background-color: #d2c2c0

h2
  margin: 0 0 1rem

h3
  margin: 0 0 1.57rem

p
  margin-top: 0

a
  text-decoration: none
  &:hover, &:focus
    text-decoration: underline

main
  position: relative
  overflow: hidden
  min-width: 320px
  min-height: 100%

*,
*::before,
*::after
  box-sizing: inherit
