html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

main {
  position: relative;
  overflow: hidden;
  min-width: 320px;
  min-height: 100%;
}
