<article class="intro">
  <section class="section">
    <h1>Обучение изобразительному искусству в классической традиции</h1>
  </section>
  <section class="section">
    <h2>О Студии</h2>
    <p>Студия основана в 1994 г. и функционирует в тесной связи с Санкт-Петербургским Государственным академическим институтом живописи, скульптуры и архитектуры им. И.Е.Репина.</p>
  </section>
  <section class="section">
    <h2>Направления</h2>
    <p>Обучение изобразительному искусству в классической традиции</p>
  </section>
  <section class="section">
    <h2>Методы обучения</h2>
    <p>В Школе-студии придерживаются классической методики преподавания.</p>
    <p>Группы формируются по уровню подготовленности: 1 уровень - для тех, у кого нет никакого предварительного обучения, и 2 уровень – для тех, у кого уже есть начальная база.</p>
    <p>Школа-студия также организует мастер-классы по живописи в Санкт-Петербурге и Флоренции. Темы мастер-классов “Портрет”, “Пленэр”.</p>
  </section>
  <section class="section">
    <h2>О преподавателе</h2>
    <h3>Сергей Васильевич Трепак</h3>
    <h3>Работы С.В. Трепака</h3>
  </section>
  <section class="section vcard">
    <h2>Контакты</h2>
    <p class="fn">Сергей Васильевич Трепак</p>
    <p class="email">shcolastudia@mail.ru</p>
    <p class="tel">+79119135953</p>
  </section>
</article>
