<article class="intro">
  <section class="section section--main">
    <h1 class="section__title">Обучение изобразительному искусству в классической традиции</h1>
  </section>
  <section class="section section--studio">
    <h2 class="section__title">О Студии</h2>
    <p class="section__subtitle">Студия основана в 1994 г. и функционирует в тесной связи с Санкт-Петербургским Государственным академическим институтом живописи, скульптуры и архитектуры им. И.Е.Репина.</p>
  </section>
  <section class="section section--directions">
    <h2 class="section__title">Направления</h2>
    <p class="section__subtitle">Обучение изобразительному искусству в классической традиции</p>
  </section>
  <section class="section section--methods">
    <h2 class="section__title">Методы обучения</h2>
    <p class="section__subtitle">В Школе-студии придерживаются классической методики преподавания.</p>
    <p class="section__subtitle">Группы формируются по уровню подготовленности: 1 уровень - для тех, у кого нет никакого предварительного обучения, и 2 уровень – для тех, у кого уже есть начальная база.</p>
    <div class="grid" data-columns>
      <%- (1..12).each do |i| %>
        <%= image_tag "first_level/#{i}.jpg", class: 'image image--indented'%>
      <% end %>
    </div>
    <div class="grid" data-columns>
      <%- (1..9).each do |i| %>
        <%= image_tag "second_level/#{i}.jpg", class: 'image image--indented'%>
      <% end %>
    </div>
    <p class="section__subtitle">Школа-студия также организует мастер-классы по живописи в Санкт-Петербурге и Флоренции. Темы мастер-классов “Портрет”, “Пленэр”.</p>
  </section>
  <section class="section section--teacher">
    <h2 class="section__title">О преподавателе</h2>
    <h3 class="section__subtitle">Сергей Васильевич Трепак</h3>
    <h3 class="section__subtitle">Работы С.В. Трепака</h3>
  </section>
  <section class="section section--contacts vcard">
    <h2 class="section__title">Контакты</h2>
    <p class="section__subtitle fn">Сергей Васильевич Трепак</p>
    <p class="section__subtitle email">shcolastudia@mail.ru</p>
    <p class="section__subtitle tel">+79119135953</p>
  </section>
</article>
